


@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*animation for btn*/
#menu__toggle {
opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
top: 0;
transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
top: 0;
transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
visibility: visible;
left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;

width: 100%;
height: 3px;

background-color: rgb(0, 0, 0);
animation: change_btn var(--t) step-start infinite;

transition-duration: .25s;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}

/*style for btn-box*/
.menu__btn {
display: flex;
align-items: center;
position: fixed;
top: 10px;
left: 20px;

width: 10%;
height: 10%;

cursor: pointer;
z-index: 1;
}

.menu__box {
display: block;
position: fixed;
visibility: hidden;
top: 0;
left:-100%;

width: 50%;
height: 100%;

margin: 0;
padding: 8px 0;

list-style: none;

background-color: #ECEFF1;
box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

transition-duration: .25s;

}
/*style for body_και τα συναφή*/
:root{
    --t: 15s;
  }
body
{
    background-image: url(dromos.png);
    background-size: cover;
    overflow:hidden;
    position: unset;
    display:flex;
    flex-direction: column;
    height: 100vh;
    animation: change_bg_image var(--t) step-start infinite;
}

a{
 font-family: "Gentium Plus", serif;
font-weight: 700;
font-style: normal;
text-transform: uppercase;
 margin-left:10px;
 margin-top: 60px;
 color:black;
 border-spacing: 3cm;;
}

a:hover{
 color: rgb(69, 103, 14);
}
h1, h5
{

 text-align: center;
 color: #ff8616f5;
 animation: change_text var(--t) step-start infinite;
  
}

h1{
 margin-top: 120%;
margin-bottom: -20px;
}

.menu__item {
display: block;
padding: 12px 24px;

color: #333;


font-size: 20px;
font-weight: 60;

text-decoration: none;

transition-duration: .25s;
}
.menu__item:hover {
background-color: #CFD8DC;
}
/*animation for images*/
@keyframes change_bg_image{
    33% {background-image: url(dromos.png);}
    66% { background-image: url(kampanario.jpg);}
    100% {background-image: url(δρόμος.jpg);}}

    @keyframes change_nav_bar{
      33%{background-color: rgb(216, 163, 98, 0.623);}
      66%{background-color: rgb(255, 255, 255);}
      100%{background-color: rgb(216, 163, 98, 0.623);}}

    @keyframes change_text{
      33%{color: #ff8616f5;}
      66% { color: rgba(219, 23, 23, 0);}
      100% {color: #ff8616f5;}
   }


   @keyframes change_btn {
    33%{background-color: black;}
    66% { background-color: black;}
    100%{background-color: rgb(182, 181, 181);}
    
   }
